<%= form_for @current_user, :url => profile_path(@profile), :html => {:method => :put, :role => :form} do |f| %>
    <div class="form-group">
        <div><%= f.label 'Username' %></div>
        <div><%= f.label :username, @current_user.username, {class: "form-control"} %></div>
    </div>
    <div class="form-group">
        <div><%= f.label 'Email' %></div>
        <div><%= f.email_field :email, {value: @current_user.email, class: "form-control"} %></div>
    </div>
    <div class="form-group">
        <div><%= f.label 'Current Password' %></div>
        <div><%= f.password_field :current_password, {class: "form-control"} %></div>
    </div>
    <div class="form-group">
        <div><%= f.label 'New Password' %></div>
        <div><%= f.password_field :password, {class: "form-control"} %></div>
    </div>
    <div class="form-group">
        <div><%= f.label 'Confirm Password' %></div>
        <div><%= f.password_field :password_confirmation, {class: "form-control"} %></div>
    </div>
    <div><%= f.submit 'Save', {class: "btn btn-default"} %></div>
<% end %>
