<h1>New Domain</h1>
<%= form_tag domains_path, method: :post do %>
    <div><%= label_tag :domain_name, 'Domain Name' %></div>
    <div><%= text_field_tag :name, params[:name] %></div>
    <div><%= label_tag :description, 'Description' %></div>
    <div><%= text_field_tag :description, params[:description] %></div>
    <div><%= label_tag :contact, 'Administrator Contact' %></div>
    <div><%= text_field_tag :contact, params[:contact] %></div>
    <div><%= label_tag :refresh, 'Refresh' %></div>
    <div><%= text_field_tag :refresh, params[:refresh] %></div>
    <div><%= label_tag :retry, 'Retry' %></div>
    <div><%= text_field_tag :retry, params[:retry] %></div>
    <div><%= label_tag :expire, 'Expire' %></div>
    <div><%= text_field_tag :expire, params[:expire] %></div>
    <div><%= label_tag :minimum, 'Minimum' %></div>
    <div><%= text_field_tag :minimum, params[:minimum] %></div>
    <div><%= submit_tag 'Create' %></div>
    <%= link_to 'Back to list', domains_path, {class: "btn btn-default"} %>
<% end %>
<!--TODO Ant - adjust this page -->
