<div id="domain-show">
    <script type="text/javascript">
	    $(document).ready(function () {
		    $("#domain-show")
			    .delegate(".b-new", 'click', function (e, d) {
				    $(this).siblings('.f-new').removeClass('hide');
			    })
			    .delegate(".b-cancel", 'click', function (e, d) {
				    $(this).parents('.f-new').addClass('hide');
			    })
			    .delegate(".f-new form", 'ajax:success', function (e, d) {
				    window[$(this).attr('sfunc')]($("#domain-url-name").val())
			    })
			    .delegate(".b-delete", 'ajax:success', function (e, d) {
				    window[$(this).attr('sfunc')]($("#domain-url-name").val())
			    });
		    domain_show_a_list_load($("#domain-url-name").val())
		    domain_show_cname_list_load($("#domain-url-name").val())
		    domain_show_mx_list_load($("#domain-url-name").val())
		    domain_show_ns_list_load($("#domain-url-name").val())
		    domain_show_member_list_load($("#domain-url-name").val())
	    })
    </script>

    <div><%= @domain.name %></div>
    <div><%= @domain.description %></div>
    <%= hidden_field_tag 'domain-url-name', @domain.url_name %>
    <%= label_tag 'Description' %>
    <div id="d-a">
        <div class="hide misc">
            <div class="format-delete"><%= link_to 'Delete', '<URL>', class: 'btn btn-default b-delete', sfunc: 'domain_show_a_list_load', method: :delete, data: {:disable_with => 'Removing', type: :json}, remote: true %></div>
        </div>
        <div>Domain Name Mapping</div>
        <%= button_tag 'New', class: 'btn btn-default b-new' %>
        <div class="hide f-new">
            <%= form_tag api_domain_as_path(@domain.url_name), sfunc: 'domain_show_a_list_load', method: :post, data: {type: :json}, remote: true do %>
                <div><%= label_tag :domain_name, 'Domain Name' %></div>
                <div><%= text_field_tag 'a[name]' %></div>
                <div><%= label_tag :ipaddr, 'IP Address' %></div>
                <div><%= text_field_tag 'a[to_ip]' %></div>
                <div><%= submit_tag 'Create', data: {disable_with: 'Creating...'}, class: 'btn btn-default' %></div>
                <div><%= button_tag 'Cancel', type: :reset, class: 'btn btn-default b-cancel' %></div>
            <% end %>
        </div>
        <div class="f-list"></div>
    </div>

    <div id="d-c">
        <div class="hide misc">
            <div class="format-delete"><%= link_to 'Delete', '<URL>', class: 'btn btn-default b-delete', sfunc: 'domain_show_cname_list_load', method: :delete, data: {:disable_with => 'Removing', type: :json}, remote: true %></div>
        </div>
        <div>Domain Name Alias</div>
        <%= button_tag 'New', class: 'btn btn-default b-new' %>
        <div class="hide f-new">
            <%= form_tag api_domain_cnames_path(@domain.url_name), sfunc: 'domain_show_cname_list_load', method: :post, data: {type: :json}, remote: true do %>
                <div><%= label_tag :domain_name, 'Domain Name' %></div>
                <div><%= text_field_tag 'cname[name]' %></div>
                <div><%= label_tag :alias_name, 'Alias Name' %></div>
                <div><%= text_field_tag 'cname[to_name]' %></div>
                <div><%= submit_tag 'Create', data: {disable_with: 'Creating...'}, class: 'btn btn-default' %></div>
                <div><%= button_tag 'Cancel', type: :reset, class: 'btn btn-default b-cancel' %></div>
            <% end %>
        </div>
        <div class="f-list"></div>
    </div>

    <div id="d-m">
        <div class="hide misc">
            <div class="format-delete"><%= link_to 'Delete', '<URL>', class: 'btn btn-default b-delete', sfunc: 'domain_show_mx_list_load', method: :delete, data: {:disable_with => 'Removing', type: :json}, remote: true %></div>
        </div>
        <div>Mail Exchanger</div>
        <%= button_tag 'New', class: 'btn btn-default b-new' %>
        <div class="hide f-new">
            <%= form_tag api_domain_mxes_path(@domain.url_name), sfunc: 'domain_show_mx_list_load', method: :post, data: {type: :json}, remote: true do %>
                <div><%= label_tag :domain_name, 'Domain Name' %></div>
                <div><%= text_field_tag 'mx[name]' %></div>
                <div><%= label_tag :priority, 'Priority' %></div>
                <div><%= text_field_tag 'mx[priority]' %></div>
                <div><%= label_tag :mail_server, 'Mail Server Name' %></div>
                <div><%= text_field_tag 'mx[to_name]' %></div>
                <div><%= submit_tag 'Create', data: {disable_with: 'Creating...'}, class: 'btn btn-default' %></div>
                <div><%= button_tag 'Cancel', type: :reset, class: 'btn btn-default b-cancel' %></div>
            <% end %>
        </div>
        <div class="f-list"></div>
    </div>

    <div id="d-n">
        <div class="hide misc">
            <div class="format-delete"><%= link_to 'Delete', '<URL>', class: 'btn btn-default b-delete', sfunc: 'domain_show_ns_list_load', method: :delete, data: {:disable_with => 'Removing', type: :json}, remote: true %></div>
        </div>
        <div>Name Servers</div>
        <%= button_tag 'New', class: 'btn btn-default b-new' %>
        <div class="hide f-new">
            <%= form_tag api_domain_nameservers_path(@domain.url_name), sfunc: 'domain_show_ns_list_load', method: :post, data: {type: :json}, remote: true do %>
                <div><%= label_tag :domain_name, 'Domain Name' %></div>
                <div><%= text_field_tag 'nameserver[name]' %></div>
                <div><%= label_tag :mail_server, 'NameServer Domain Name' %></div>
                <div><%= text_field_tag 'nameserver[to_ns]' %></div>
                <div><%= submit_tag 'Create', data: {disable_with: 'Creating...'}, class: 'btn btn-default' %></div>
                <div><%= button_tag 'Cancel', type: :reset, class: 'btn btn-default b-cancel' %></div>
            <% end %>
        </div>
        <div class="f-list"></div>
    </div>

    <div id="d-u">
        <div class="hide misc">
            <div class="format-delete"><%= link_to 'Delete', '<URL>', class: 'btn btn-default b-delete', sfunc: 'domain_show_member_list_load', method: :delete, data: {:disable_with => 'Removing', type: :json}, remote: true %></div>
        </div>
        <div>Member</div>
        <%= button_tag 'New', class: 'btn btn-default b-new' %>
        <div class="hide f-new">
            <%= form_tag api_domain_members_path(@domain.url_name), sfunc: 'domain_show_member_list_load', method: :post, data: {type: :json}, remote: true do %>
                <div><%= label_tag :username, 'User Name' %></div>
                <div><%= text_field_tag 'member[username]' %></div>
                <div><%= submit_tag 'Add', data: {disable_with: 'Adding...'}, class: 'btn btn-default' %></div>
                <div><%= button_tag 'Cancel', type: :reset, class: 'btn btn-default b-cancel' %></div>
            <% end %>
        </div>
        <div class="f-list"></div>
    </div>

    <div>
        <div>Domain Setting</div>
        <div class="col-xs-12">
            <div class="col-xs-6">Name</div>
            <div class="col-xs-6"><%= @domain.name %></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">Description</div>
            <div class="col-xs-6"><%= @domain.description %></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">Contact</div>
            <div class="col-xs-6"><%= @soa.contact.sub('.', '@') %></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-3">Refresh</div>
            <div class="col-xs-3"><%= @soa.refresh %></div>
            <div class="col-xs-3">Retry</div>
            <div class="col-xs-3"><%= @soa.retry %></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-3">Expire</div>
            <div class="col-xs-3"><%= @soa.expire %></div>
            <div class="col-xs-3">Minimum</div>
            <div class="col-xs-3"><%= @soa.minimum %></div>
        </div>
    </div>
    <%= link_to 'Edit', edit_domain_path(@domain), class: 'btn btn-default' %>
    <%= link_to 'Back', :back, class: 'btn btn-default' %>
</div>

<!--TODO Ant adjust this page  -->
