
<div id="<%= "frame_domains_show_#{@domain.url_name}" %>" class="panel panel-default">
    <script type="text/javascript">
	    $(document).ready(function () {
		    $("#<%= "frame_domains_show_#{@domain.url_name}" %>")
			    .delegate('a[data-toggle="tab"]', 'click', function (e) {
				    if ($(this).attr('fclick') != undefined && $(this).attr('belong') != undefined)
					    window[$(this).attr('fclick')]($(this).attr('belong'))
				    var menu = $("#domain_right .navbar-header .navbar-toggle");
				    if( menu.is(":visible") ){
					    menu.trigger("click");
				    }
			    })
			    .delegate(".b-new", 'click', function (e) {
				    $(this).parents().siblings('.skel-new').removeClass('hide');
			    })
			    .delegate(".b-cancel", 'click', function (e) {
				    $(this).parents('.skel-new').addClass('hide');
			    })
			    .delegate(".skel-new form", 'ajax:success', function (e, d) {
				    window[$(this).attr('sfunc')]($(this).attr('belong'))
			    })
			    .delegate(".skel-new form", 'ajax:error', function (e, d) {
				    $(this).find('.skel-new-error').removeClass('hidevelopmentde')
			    })
			    .delegate(".skel-new", 'show.bs.modal', function (e, d) {
				    $(this).find('.skel-new-error').addClass('hide');
				    $(this).find('form')[0].reset()
			    })
			    .delegate(".skel-new", 'shown.bs.modal', function (e, d) {
				    $(this).find("input:eq(1)").focus()
			    })
			    .delegate(".b-delete", 'ajax:success', function (e, d) {
				    window[$(this).attr('sfunc')]($(this).attr('belong'))
			    })
			    .delegate('a[data-toggle="tab"]', 'ajax:success', function (e, d) {
				    e.target; // newly activated tab
				    e.relatedTarget; // previous active tab
			    });
		    domain_show_a_list_load('<%= @domain.url_name %>')
	    })
    </script>

    <div class="panel-heading pointer">
        <h1 class="panel-title"><%= @domain.name %>
            <small><em style="color: #777777">
                <%= @domain.description %>
            </em></small>
        </h1>
    </div>
    <div class="panel-body">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header hidden-sm hidden-md hidden-lg">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!--<a class="navbar-brand" href="#">Brand</a>-->
                    <div class="navbar-brand col-xs">Menu</div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <%= nav_tab_head_tag :a %>
                            <!--<a href="#">A<span class="sr-only">(current)</span></a>-->
                        </li>
                        <li><%= nav_tab_head_tag :cname %></li>
                        <li><%= nav_tab_head_tag :mx %></li>
                        <li><%= nav_tab_head_tag :nameserver %></li>
                        <li><%= nav_tab_head_tag :ddn %></li>
                        <li><%= nav_tab_head_tag :member %></li>
                        <li>
                            <%= link_to 'Setting',
                                        '.tab-pane.id-setting',
                                        aria: {controls: 'setting'},
                                        role: 'tab',
                                        data: {toggle: 'tab'} %>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>


        <div class="col-xs-12">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active id-a">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>Domain Name</th>
                                        <th>IPv4 Address</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><%= record_delete_btn :a %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :a %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :a do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Domain Name & IP Mapping</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                        <%= fields_for A.new do |b| %>
                                            <div class="form-group">
                                                <%= label_tag :domain_name, 'Domain Name', for: 'a_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <div class="input-group">
                                                        <%= b.text_field :name, placeholder: 'abc', class: 'form-control' %>
                                                        <div class="input-group-addon">.<%= @domain.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :ipaddr, 'IP Address', for: 'a_to_ip', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= b.text_field :to_ip, placeholder: '127.0.0.1', class: 'form-control' %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-cname">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>Domain Name</th>
                                        <th>Alias Domain Name</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><%= record_delete_btn :cname %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :cname %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :cname do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Domain Name Alias</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                        <%= fields_for Cname.new do |b| %>
                                            <div class="form-group">
                                                <%= label_tag :domain_name, 'Domain Name', for: 'cname_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <div class="input-group">
                                                        <%= b.text_field :name, placeholder: 'abc', class: 'form-control' %>
                                                        <div class="input-group-addon">.<%= @domain.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :to_name, 'Alias Domain Name', for: 'cname_to_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= b.text_field :to_name, placeholder: 'abc.example.com', class: 'form-control' %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-mx">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>Domain Name</th>
                                        <th>Priority</th>
                                        <th>Mail Server</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><%= record_delete_btn :mx %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :mx %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :mx do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Mail Exchanger</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                        <%= fields_for Mx.new do |b| %>
                                            <div class="form-group">
                                                <%= label_tag :domain_name, 'Domain Name', for: 'mx_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <div class="input-group">
                                                        <%= b.text_field :name, placeholder: 'abc', class: 'form-control' %>
                                                        <div class="input-group-addon">.<%= @domain.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :ipaddr, 'Priority', for: 'mx_priority', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= b.number_field :priority, placeholder: '5', class: 'form-control' %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :ipaddr, 'Mail Server Name', for: 'mx_to_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= b.text_field :to_name, placeholder: 'mailex.example.com', class: 'form-control' %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-nameserver" id="nameserver">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>Domain Name</th>
                                        <th>Name Server</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <%= record_delete_btn :nameserver %>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :nameserver %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :nameserver do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Name Server</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                        <%= fields_for Nameserver.new do |b| %>
                                            <div class="form-group">
                                                <%= label_tag :domain_name, 'Domain Name', for: 'nameserver_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <div class="input-group">
                                                        <%= b.text_field :name, placeholder: 'abc', class: 'form-control' %>
                                                        <div class="input-group-addon">.<%= @domain.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :to_ns, 'Name Server', for: 'nameserver_to_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= b.text_field :to_ns, placeholder: 'nameserver.domain.com', class: 'form-control' %>
                                                </div>
                                            </div>
                                        <% end %>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-ddn">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>Device Name</th>
                                        <th>Domain Name</th>
                                        <th>IPv4 Address</th>
                                        <th>Token</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><%= record_delete_btn :ddn %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :ddn %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :ddn do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Dynamic Domain Name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <%= label_tag :device_name, 'Device Name', for: 'ddn_device_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= text_field_tag 'ddn[device_name]', '', placeholder: 'mydevice', class: 'form-control' %>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :domain_name, 'Domain Name', for: 'ddn_name', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <div class="input-group">
                                                        <%= text_field_tag 'ddn[name]', '', placeholder: 'abc', class: 'form-control' %>
                                                        <div class="input-group-addon">.<%= @domain.name %></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <%= label_tag :ipaddr, 'IP Address', for: 'ddn_to_ip', class: 'control-label col-xs-3' %>
                                                <div class="col-xs-9">
                                                    <%= text_field_tag 'ddn[to_ip]', '', placeholder: '127.0.0.1', class: 'form-control' %>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-member">
                    <div class="hide misc">
                        <div class="format">
                            <div class="format-content">
                                <table class="table table-hover col-xs-12">
                                    <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <%= record_delete_btn :member %>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right skel-func-row">
                        <%= record_add_btn :member %>
                    </div>
                    <div class="modal fade skel-new">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <%= create_form_tag :member do %>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Member</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class=" skel-new-error alert alert-danger hide text-center col-xs-12" role="alert">
                                                Wrong Format!
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <%= label_tag :username, 'User Name', for: 'member[username]', class: 'control-label col-xs-3' %>
                                            <div class="col-xs-9">
                                                <%= text_field_tag 'member[username]', '', class: 'form-control' %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <%= create_form_cancel_btn %>
                                        <%= create_form_submit_btn %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="skel-list"></div>
                </div>
                <div role="tabpanel" class="tab-pane id-setting">
                    <div class="list-group top-down-margin-10">
                        <a href="#" class="list-group-item">
                            <strong>Name:</strong> <%= @domain.name %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Description:</strong> <%= @domain.description %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Contact:</strong> <%= @soa.contact.sub('.', '@') %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Refresh:</strong> <%= @soa.refresh %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Retry:</strong> <%= @soa.retry %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Expire:</strong> <%= @soa.expire %>
                        </a>
                        <a href="#" class="list-group-item">
                            <strong>Minimum:</strong> <%= @soa.minimum %>
                        </a>
                    </div>
                    <div class="text-right clearfix top-down-margin-10">
                        <div class="col-xs-10"></div>
                        <%= link_to 'Edit', edit_domain_path(@domain), class: 'btn btn-warning col-xs-2' %>
                    </div>
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title clearfix">
                                    <a data-toggle="collapse" class="col-xs-12" data-parent="#accordion" href="#frame_domains_show_<%= @domain.url_name %> .panel-collapse.id-destroy" aria-expanded="false" aria-controls="destroy">
                                        Destroy
                                    </a>
                                </h4>
                            </div>
                            <div class="panel-collapse collapse id-destroy" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body clearfix text-right">
                                    <div class="col-xs-10 text-left">
                                        This action can't be reverse. Be sure that before you press <code>Destroy</code>
                                    </div>
                                    <%= link_to 'Destroy',
                                                domain_path(@domain.url_name),
                                                method: :delete,
                                                data: {confirm: 'Are you sure?'},
                                                class: 'btn btn-danger col-xs-2' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
