<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/nav_bar' %>
<main class='main_area container'>
    <%= render 'layouts/notice_bar' %>
    <%=
        # if $sider_pages.include? "#{controller_name}##{action_name}"
        #     render 'layouts/sider_main'
        # else
        #     render 'layouts/main'
        # end
        render 'layouts/main'
    %>
    <%= render 'layouts/post_page_script' %>
</main>
</body>
<%= render 'layouts/footer' %>
</html>
