<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/nav_bar' %>
<main class='main_area container'>
    <% unless alert.blank? %>
        <div id='alert' class='col-xs-12 col-sm-8 col-sm-offset-2 bg-warning'><%= alert %></div>
    <% end %>
    <% unless notice.blank? %>
        <div id='notice' class='col-xs-12 col-sm-8 col-sm-offset-2 bg-info'><%= notice %></div>
    <% end %>
    <div class='col-xs-12 col-sm-8 col-sm-offset-2'>
        <%= yield %>
    </div>
</main>
<footer id='footer'>
    <div class='container'>
        <p class='text-muted text-center'> Copyright 2015 Yeti & Cakeant</p>
    </div>
</footer>
</body>
</html>
